.container {
    width: 1300px;
    margin: 0 auto;
}

header {
    background-image: url(img/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 230px;
}

header img {
    padding-top: 60px;
}

nav {
    background-color: orange;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.search{
    float: right;
}
.search form input{
    border: 1px solid black;
}
.search form button{
    border: 1px solid black;
}
.search form button:hover{
    background-color: yellow;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 40px;
    font-weight: bold;
    font-size: 20px;
}
nav a:hover{
    color: red;
    text-decoration: underline;
}

aside{
    width: 100%;
    height: 3750px;
    
}
.thongtin1{
    font-size: 25px;
}
.box1 img{
    padding-left: 300px;
}
.box1 p{
    font-size: 20px;
    padding-left: 275px;
}
.box2 img{
    padding-left: 300px;
}
.box2 p{
    font-size: 20px;
    padding-left: 200px;
}
.box3 img{
    padding-left: 300px;
}
.box3 p{
    font-size: 20px;
    padding-left: 370px;
}

.binhluan{
    font-size: 25px;
}
.inputbinhluan textarea{
    width: 1000px;
    height: 200px;
}
.inputhoten input{
    width: 250px;
    height: 30px;
}
.inputemail input{
    width: 250px;
    height: 30px;
}
.inputsodienthoai input{
    width: 250px;
    height: 30px;
}
label{
    padding-top: 20px;
}
.guibl{
    width: 200px;
}



footer{
    background-color: orange;
    height: 500px;
    clear: both;
}
.footer1{
    float: left;
    width: 40%;
}
.footer1 img{
    padding-bottom: 40px;   
}
.LienHe a{
    margin: 10px;
}
.ThongTinLienHe{
    color: white;
}
.footer2{
    color: white;
    width: 60%;
    float: right;
}